 div.sticky {
     position: sticky;
     top: 0;
 }
 
 sh1 {
    /* background-color:burlywood ; */
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid;
}

ul{
    list-style-type: none;
    /* margin-left: 10px; */
    padding: 0%;
    overflow: hidden;
    background-color: burlywood;
}

li{
    float: left;
}
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    margin-left: 40px;
}
li a:hover{
    background-color: lightgray;
}
p.right{
    float: right;
    margin-right: 20px;
}
.top{
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    padding: 6px;
}

/* Images */
.main{
    width: 1100px;
    height: 500px;
    margin-left: 9%;
    margin-top: 20px;
}
.back{
    margin-top: 50px;
    /* margin-left: 10%; */
}

/* h2{
    text-align: center;
    font-size: 35px;
    font-family:  Helvetica, sans-serif;
} */

.underline{
    text-align: center;
    border-bottom: 1px solid ;
    display: inline-block;
    margin-left: 43%;
    margin-top: 60px;
}
.coluns{
    float: left;
    width: 10%;
    padding: 5px;
}

.img{
    border-radius: 50%;
    height: 225px;
    width: 225px;
}
.column{
    float: left;
    width: 25%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.signup{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.signup h1{
    color: blue;
    margin: 30px;
}
input{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1c8adb;
}
.submit{
    background-color: #1c8adb;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

/* Design Page CSS */
.head {
    margin-left: 50px;
    font-size: larger;
}
.submitf{
    background-color: #1c8adb;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.error{
    color: GREEN;
}
.meee{
    border-radius: 50%;
    height: 225px;
    width: 225px;
}
.text{
    text-align: center;
}

